[submodule "cpp/kokkos"]
	path = cpp/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "cpp/cub"]
	path = cpp/cub
	url = https://github.com/NVlabs/cub.git
[submodule "cpp/hipCUB"]
	path = cpp/hipCUB
	url = https://github.com/ROCmSoftwarePlatform/hipCUB.git
[submodule "cpp/rocPRIM"]
	path = cpp/rocPRIM
	url = https://github.com/ROCmSoftwarePlatform/rocPRIM.git
[submodule "cpp/YAKL"]
	path = cpp/YAKL
	url = https://github.com/mrnorman/YAKL.git
