*.o
*.mod
output.nc
CMakeCache.txt
CTestTestfile.cmake
c/build/CMakeFiles
cpp/build/CMakeFiles
fortran/build/CMakeFiles
Makefile
Testing/
cmake_install.cmake
concurrent
concurrent_test
mpi
mpi_test
openacc
openacc_test
openmp
openmp_test
serial
serial_test
openmp45
openmp45_test
yaklexe
yaklexe_test
