[submodule "cpp/kokkos"]
	path = cpp/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "cpp/cub"]
	path = cpp/cub
	url = git@github.com:NVlabs/cub.git
[submodule "cpp/hipCUB"]
	path = cpp/hipCUB
	url = git@github.com:ROCmSoftwarePlatform/hipCUB.git
[submodule "cpp/rocPRIM"]
	path = cpp/rocPRIM
	url = git@github.com:ROCmSoftwarePlatform/rocPRIM.git
